.nav-container {
    clip-path: ellipse(70% 100% at 50% 0%);
    margin: auto;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
    position: relative;
    background: radial-gradient(circle, #524C7D, #000000);
    display: flex;
    justify-content: center;
   
}
@media (max-width:636px){
.Hojas_1{
    width: 100px;
    height: auto;
}
.Leprechaun{
    width: 50px;
    height: auto;
}
.esp-check img{
    height: auto;
    width: 50px;
}
}
.rotate{
    transform: scaleX(-1);
}
.esp-check{
    position: absolute;
    right: 10px;
    top: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.check:checked~.encendido{
    opacity: 1;
}
.check:checked~.apagado{
    opacity: 0;
}
.check:not(:checked)~.encendido{
    opacity: 0;
}
.check:not(:checked)~.apagado{
    opacity: 1;
}
.check{
    opacity: 0;
    pointer-events: none;
}
@media (max-width: 768px){
    .nav-container {
        clip-path: ellipse(100% 100% at 50% 0%);
    }
}